body {
  font-family: Univers,sans-serif,monospace;
}
.timer-counter {
  font-size: 200px;
  margin: 30px 0 30px 0;
}
.timer-name {
  font-size: 100px;
}
.timer-next {
  font-size: 60px;
}
.menu-toggle {
  margin: 20px 0 0 20px;
  font-size: 35px;
}
.main {
  margin-top: 30px;
  text-align: center;
}
.wktName {
  margin: 20px 0 20px 20px;
  font-weight: bold;
  font-size: 18px;
}
.countTag {
  font-size: 50px;
}
.warm {
  color: #d9534f;
}
.cool {
  color: #428bca;
}
.muted {
  color: #555;
}
.activeMove {
  color: #fff;
  background-color: #428bca;
}
.total {
  margin: 20px 20px 0 0;
  font-size: 35px;
  font-weight: bold;
}
.top-bar a {
  color: #000;
}

/* Progress Indicator */
.progress-bar {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #888;
}
.progress {
  height: 50px;
  width: 0%;
  background: #d9534f;
  -webkit-transition: width 0.99s, ease;
}
