/* Dashboard */
.home {
  margin-top: 60px;
}
.home h1 {
    font-size: 40px;
}
.home ul {
  list-style-type: none;
  padding: 0;
}
.home ul li {
  padding: 10px 0 10px 25px;
}
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}
.home * a:hover{
  text-decoration:none;
}
.home ul li span a {
  color: #fff;
}
.home * h2 {
  margin-top: 40px;
}

/* Navbar */
.navbar-right li a {
  color: #fff;
  font-size: 18px;
}
.navbar {
  background-color: #888;
  color: #fff;
}
.sign-in {
  color: #666;
}

/* Homepage */
.land-side {
  overflow-x: hidden;
}
.landing-img {
  height: 100%;
  min-height: 100%;
}
